@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Cherry+Swash);

* {
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  title{
    font-family: 'Cherry Swash';
  }
  #frontpage {
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 100vh;
    background-attachment: scroll;
    background-size: cover;
    max-width: 100%;
  }
  
  #about {
    background-color: #181818;
    /*background-repeat: no-repeat;*/
    box-sizing: border-box;
    height: 100vh;
    background-attachment: scroll;
    background-size: cover;
    max-width: 100%;
  }
  
  #projects {
    background-color: #f8f7f3;
    /*background-repeat: no-repeat;*/
    box-sizing: border-box;
    height: 100vh;
    background-attachment: scroll;
    background-size: cover;
    max-width: 100%;
  }
  
  #contact {
    background-color: #427aa1;
    /*background-repeat: no-repeat;*/
    box-sizing: border-box;
    height: 100vh;
    background-attachment: scroll;
    background-size: cover;
    max-width: 100%;
  }
  
  .frontpagetext {
    color: #ffffff;
    font-family: 'Cherry Swash';
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 2px;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .scrolled-bar {
    background-color: #39546A;
    transition: 0.3s;
  }
  
  .nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2rem;
    text-align: center;
    color: #ffffff;
    font-family: sans-serif;
    transition: 0.3s;
    z-index: 1;
  }
  
  .nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .nav-bar li:last-child {
    padding-right: 50px;
  }
  
  .nav-bar li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 14px 16px;
    transition: ease-in-out 0.3s;
  }
  
  .nav-bar li a:hover {
    transition: ease-in-out 0.3s;
  }
  
  .hover_link {
    color: #ffffff;
  }
  
  .hover_link:after {
    border-bottom: 3px solid #f8f7f3;
    content: "";
    display: block;
    margin: 0.25em auto 0;
    transition: width 250ms ease-in-out 0s;
    width: 0;
  }
  
  .hover_link:hover:after {
    transition: width 100ms ease-in-out 0s;
    width: 100%;
  }

  @media screen and (max-width:400px){
    .nav-bar{
      height: auto;
    }
    .nav-bar #logo{
      text-align: left;
      width: 100%;
      font-size: 1em;
    }
    .nav-bar ul{
      width: 100%;
    }
    .nav-bar ul li{
      padding: 10px 0px 10px 0px;
      text-align: center;
      font-size: 16px;
      justify-content: space-around;
    }
    .nav-bar ul li a{
      padding-left: 0px;
    }
    .frontpagetext {
      font-size: 20px;
      float: left;
    }
    .nav-bar ul li:last-child {
      padding-right: 40px;
    }
  }
  
 
/* Logo style*************************************************************************** */
  #logo {
  
    margin: auto;
    position: fixed;
    top: 0;
    padding-top: 20px;
  }
  
  #logo h1 {
    text-align: center;
    color: #fff;
    font-size: 2em;
    letter-spacing: 8px;
    font-family: 'Dancing Script';
    font-weight: 400;
    /*Create overlap*/
    
    margin: 0;
    line-height: 0;
    /*Animation*/
    animation: glitch1 2.5s infinite;
  }
  
  h1:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
  }
  
  h1:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
  }
  /*Keyframes*/
  
  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  
  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }

/* END Logo style******************************************************************** */


/* FOOTER Syles*********************************************************************** */

footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: black;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoInstagram:hover {
  background-color: #CB0051;
}

.social-network a.icoTwitter:hover {
  background-color: #4A01B3;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoTwitter:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}

/* END FOOTER Syles******************************************************************************** */

/* back to top button***************************************************************************** */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

/* END back to top button*********************************************************************** */
